body {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 0px 8px 0px 8px;
}

textarea {
    resize: none;
    font-size: 20px;
    border: none;
}

button {
    margin: 15px;
    padding: 15px;
    font-size: 24px;
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}

h1 {
    margin: 0px;
    font-size: 62px;
    color: #2DAD8D;
}

h2 {
    font-size: 32px;
    color: #7A1DB8;
}

.plumbus {
    display: block;
    position: absolute;
}

.help-text {
    font-size: 20px;
    color: #aaa;
}

.finished {
    color: green;
}

#word-box {
    width: 800px;
    height: 340px;
    text-align: center;
    color: #2B7DC4;
}

#word-box:hover {
    cursor: url('images/ok/paddle.png');
}

#msg-box {
    width: 600px;
    height: 40px;
    padding: 10px;
    font-size: 32px;
    text-align: center;
    color: red;
}

#letter-up {
    height: 120px;
    font-size: 64px;
    color: #2BBD1E;
}

#letters {
    height: 100px;
    font-size: 48px;
    color: #AD582D;
}

#pp-header {
    display: none;
}

.paddling {
    cursor: url("images/ok/paddle.png");
}

.letter-table td {
    height: 100px;
    width: 150px;
    padding: 20px;
}

.lab {
    text-align: right;
    font-size: 24px;
}

